In [70]:
import pandas as pd

In [73]:
fuel_file = "revenues_employees_stocks.xlsx"
xl = pd.ExcelFile(fuel_file)
print(xl.sheet_names)

['Employees', 'Revenue', 'Employees+Revenue']

In [72]:
dfs

,Unnamed: 0,Volkswagen,Tesla,Toyota,Ford,GM,Renault,Honda,Daimler,BMW
0,2005,345000,NaN,265753,300000,335000,126584,137827,296109,105798
1,2006,324900,NaN,285977,283000,280000,128893,144785,277771,106575
2,2007,329300,NaN,299394,246000,259000,130179,167231,271704,107539
3,2008,369900,458,316121,213000,243000,129068,178960,274330,100041
4,2009,368500,534,320808,198000,212000,‎124 300,181876,258628,96230
5,2010,399400,899,320590,164000,202000,125600,176815,269887,95453
6,2011,502000,1417,317716,164000,207000,128000,179060,271370,100306
7,2012,550000,2964,325905,171000,213000,127086,187094,275087,105876
8,2013,573000,5859,333498,181000,219000,121807,190338,275384,110351
9,2014,593000,10161,338875,187000,216000,117395,199368,279857,116324
10,2015,610000,13058,344109,199000,215000,120136,204730,284015,122244
11,2016,627000,17782,348877,201000,225000,124849,208399,282488,124729
12,2017,634000,37543,364445,202000,180000,181344,211915,289321,129932
13,2018,656000,48 817,369124,199000,173000,183002,215638,298683,134682

In [49]:
df = pd.read_excel(open('revenues_employees_stocks.xlsx','r'), sheet_name=0)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9c in position 11: invalid start byte

In [75]:
excel_file = 'revenues_employees_stocks.xlsx'
pd = pd.read_excel(excel_file, sheet_name="Employees+Revenue", index_col=0)

In [76]:
pd

      Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5
2005         NaN     345000     118647   40.059066  Volkswagen
2006         NaN     324900     131744   70.826993  Volkswagen
2007         NaN     329300     149265  136.180877  Volkswagen
2008         NaN     369900     167446   53.699541  Volkswagen
2009         NaN     368500     146694   87.930704  Volkswagen
...          ...        ...        ...         ...         ...
2015         NaN     138910     103514   20.990000      Nissan
2016         NaN     142925     101173   20.000000      Nissan
2017         NaN     149388     108996   19.900000      Nissan
2018         NaN     152421     107561   15.940000      Nissan
2019         NaN     160530     104168   11.570000      Nissan

[147 rows x 5 columns]

In [48]:
open('revenues_employees_stocks.xlsx')