In [1]:
pip install influxdb

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Collecting influxdb
  Downloading influxdb-5.3.0-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 1.4 MB/s eta 0:00:011
Requirement already satisfied: python-dateutil>=2.6.0 in /opt/conda/lib/python3.7/site-packages (from influxdb) (2.8.1)
Collecting msgpack==0.6.1
  Downloading msgpack-0.6.1-cp37-cp37m-manylinux1_x86_64.whl (245 kB)
     |████████████████████████████████| 245 kB 3.7 MB/s eta 0:00:01
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.7/site-packages (from influxdb) (1.14.0)
Requirement already satisfied: requests>=2.17.0 in /opt/conda/lib/python3.7/site-packages (from influxdb) (2.23.0)
Requirement already satisfied: pytz in /opt/conda/lib/python3.7/site-packages (from influxdb) (2020.1)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.0->influxdb) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.0->influxdb) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.0->influxdb) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.17.0->influxdb) (2020.4.5.1)
Installing collected packages: msgpack, influxdb
  Attempting uninstall: msgpack
    Found existing installation: msgpack 1.0.0
    Uninstalling msgpack-1.0.0:
      Successfully uninstalled msgpack-1.0.0
Successfully installed influxdb-5.3.0 msgpack-0.6.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from influxdb import DataFrameClient

In [3]:
user = 'root'
password = 'root'
host='influxdb' #172.28.1.2 #localhost #3.14.5.146 - kozos osztaly InfluxDB szerver
port=8086
dbname='base' #az en adatbazis nevem
protocol = 'line' #json
client = DataFrameClient(host, port, user, password, dbname)

In [4]:
client.query('show databases')

ResultSet({'('databases', None)': [{'name': '_internal'}, {'name': 'base'}]})

In [5]:
data = pd.read_csv('owid-covid-data.csv')

In [13]:
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
client.write_points(df, measurement, protocol=protocol,
                        field_columns=['total_cases_per_million'],
                        tag_columns=['location'])

TypeError: Must be DataFrame with DatetimeIndex or PeriodIndex.

In [6]:
measurement='teszt'

In [23]:
df=pd.DataFrame(data).set_index('date')
df.index=pd.to_datetime(df.index)
df['total_cases']=df['total_cases'].astype(int)
client.write_points(df, measurement, protocol=protocol,
                        field_columns=['total_cases'],
                        tag_columns=['location'])

True

In [26]:
df.dtypes

iso_code                     object
location                     object
total_cases                   int64
new_cases                     int64
total_deaths                  int64
new_deaths                    int64
total_cases_per_million     float64
new_cases_per_million       float64
total_deaths_per_million    float64
new_deaths_per_million      float64
total_tests                 float64
new_tests                   float64
total_tests_per_thousand    float64
new_tests_per_thousand      float64
tests_units                  object
population                  float64
population_density          float64
median_age                  float64
aged_65_older               float64
aged_70_older               float64
gdp_per_capita              float64
extreme_poverty             float64
cvd_death_rate              float64
diabetes_prevalence         float64
female_smokers              float64
male_smokers                float64
handwashing_facilities      float64
hospital_beds_per_100k      float64
dtype: object

In [20]:
data.location.unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Bonaire Sint Eustatius and Saba',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of Congo', 'Congo', 'Colombia', 'Comoros',
       'Cape Verde', 'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt',
       'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands', 'France', 'Faeroe Islands',
       'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana',
       'Gibraltar', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland', 'Iran',
       'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey',
       'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia',
       'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Montserrat', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Puerto Rico',
       'Portugal', 'Paraguay', 'Palestine', 'French Polynesia', 'Qatar',
       'Kosovo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Swaziland', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syria', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Timor', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Taiwan', 'Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan', 'Vatican',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'United States Virgin Islands',
       'Vietnam', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe', 'World',
       'International'], dtype=object)

In [24]:
alma=data.location.unique().replace("''", "")

AttributeError: 'numpy.ndarray' object has no attribute 'replace'

In [25]:
data

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,...,13.085,7.452,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17420,NaN,International,2020-02-28,705,0,4,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17421,NaN,International,2020-02-29,705,0,6,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17422,NaN,International,2020-03-01,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17423,NaN,International,2020-03-02,705,0,6,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17424,NaN,International,2020-03-10,696,-9,7,1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df=pd.DataFrame(data).set_index('date')
df.index=pd.to_datetime(df.index)
df['iso_code']=df['iso_code'].astype(str)
df['location']=df['location'].astype(str)
df['total_cases']=df['total_cases'].astype(int)
client.write_points(df, 'teszt4', protocol=protocol,
                        field_columns=['location', 'total_cases'],
                        tag_columns=['iso_code'])

True

In [15]:
df.total_tests.unique()

array([   nan, 13330., 14850., ..., 10598., 11058., 11191.])

In [40]:
alma=df.groupby(['date', 'iso_code', 'location'])['total_cases'].sum()

In [44]:
alma.head(200)

iso_code  location  date
ABW       Aruba     2020-03-13     2
                    2020-03-20     4
                    2020-03-24    12
                    2020-03-25    17
                    2020-03-26    19
                                  ..
AGO       Angola    2020-04-05    10
                    2020-04-06    14
                    2020-04-07    16
                    2020-04-08    17
                    2020-04-09    19
Name: total_cases, Length: 200, dtype: int64

In [45]:
df=pd.DataFrame(alma).set_index('date')
df.index=pd.to_datetime(df.index)
df['iso_code']=df['iso_code'].astype(str)
df['location']=df['location'].astype(str)
df['total_cases']=df['total_cases'].astype(int)
client.write_points(df, 'teszt5', protocol=protocol,
                        field_columns=['location', 'total_cases'],
                        tag_columns=['iso_code'])

KeyError: "None of ['date'] are in the columns"